:root {
    --background-light: #f3f4f6;
    --background-dark: #1f2937;
    --text-light: #1f2937;
    --text-dark: #ffffff;
}


@media (min-width: 768px) {
    .text-5xl {
        font-size: 3rem;
    }

    .text-7xl {
        font-size: 4.5rem;
    }
    .responsive-logo {
        width: 300px;
    }

    .logo-glow {
        height: 60vh;
    }
}

.logo-glow {
    box-shadow: 0 0 40px rgba(255, 255, 255, 0.8), 0 0 60px rgba(255, 255, 255, 0.6);
    max-width: 100%;
    height: auto;
}


body.light-mode {
    background-color: var(--background-light);
    color: var(--text-light);
    transition: background-color 0.5s ease, color 0.5s ease;
}

body.dark-mode {
    background-color: var(--background-dark);
    color: var(--text-dark);
    transition: background-color 0.5s ease, color 0.5s ease;
}

.navbar {
    background-color: white;
    transition: background-color 0.5s ease;
}

body.dark-mode .navbar {
    background-color: #374151;
}

.section {
    background-color: #f3f4f6;
    transition: background-color 0.5s ease;
}

body.dark-mode .section {
    background-color: #1f2937;
    color: var(--text-dark);
}

.card {
    background-color: white;
    color: var(--text-light);
    transition: background-color 0.5s ease, color 0.5s ease;
    transform: translateY(0);
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
}

body.dark-mode .card {
    background-color: #374151;
    color: var(--text-dark);
}

.card p {
    color: #4b5563;
}

body.dark-mode .card p {
    color: #d1d5db;
}

.footer {
    background-color: white;
    color: #6b7280;
    transition: background-color 0.5s ease, color 0.5s ease;
}

body.dark-mode .footer {
    background-color: #374151;
    color: white;
}

.card a {
    transition: color 0.5s ease;
}

.card a svg {
    fill: black;
    transition: fill 0.5s ease;
}

body.light-mode .card a svg {
    fill: black;
}

body.dark-mode .card a svg {
    fill: white;
}

.card a:hover {
    transform: scale(1.1);
}

.scale-hover {
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.scale-hover:hover {
    transform: scale(1.05);
}

.bg-lime-500 {
    background-color: #84cc16;
}

.bg-cyan-400{
    background-color: rgb(34 211 238);
}

.bg-lime-600:hover {
    background-color: #65a30d;
}

.relative {
    position: relative;
    overflow: hidden;
    min-height: 40vh;
}

.absolute.inset-0 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-white {
    color: #ffffff;
}

.view-button[disabled] {
    background-color: #9ca3af;
    cursor: not-allowed;
    opacity: 0.7;
}

.view-button[disabled]:hover {
    background-color: #9ca3af;
}

.responsive-logo {
    max-width: 100%;
    height: auto;
    width: 200px;
}




